.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}
#resultado{
    text-align: right;
    border: 2px solid black;
    border-radius: 8%;
    margin: 3px;
    padding: 3px;
}
#actual{
    text-align: right;
    border: 2px solid black;
    border-radius: 8%;
    margin: 3px;
    padding: 3px;
}

.botonCalc{
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
}

